
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/vue/vue.js"></script>
    <script src="~/vue/vue-resource.js"></script>
    <title></title>
    
    <style>
        
        ul li {
            list-style: none;
        }

        .dian {
            display: flex;
            position: absolute;
            bottom: 10px;
        }

            .dian li {
                width: 20px;
                height: 20px;
                background: #fff;
                margin: 0 10px;
                border-radius: 50%;
            }

                .dian li.active {
                    background: blue;
                }

        .main {
            width: 1200px;
            height: 600px;
            position: relative;
            display: flex;
            justify-content: center;
        }

            .main img {
                height: 600px;
                width: 1200px;
            }
    </style>
    
    
    <style>
        #box ul {
            display: flex;
            flex-wrap: wrap;
        }

        #box li {
            padding: 20px;
            list-style: none;
            margin-right: 50px;
            border: 1px solid #eee;
        }

        #box img {
            width: 250px;
            height: 200px;
        }

    </style>
   
</head>
<body>

    <div id="app">
        <div class="main">
            <img :src="item" v-for="(item, i) in list" v-show="i===activeIndex">
            <ul class="dian">
                <li act="hover(i)" :class="{active:i===activeIndex}" v-for="(item, i) in list"></li>
            </ul>
        </div>
    </div>


    <div class="" id="box">
        <ul>
            <li v-for="v in json.list">
                <img v-bind:src="v.src" alt="">
                <h6>{{v.des}}</h6>
                <p style="color:red">{{v.price}}</p>
            </li>
        </ul>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script>
        //轮播图
        let zyy = new Vue({
            el: "#app",
            data() {
                return {
                    activeIndex: 0,
                    timer: null,
                    list: [
                        "/img/0.jpg",
                        "/img/02.jpg",
                        "/img/16.jpg"
                    ],
                }
            },
            mounted() {
                this.run()
            },
            methods: {
                run() {
                    this.timer = setInterval(() => {
                        //设置一个定时器
                        this.activeIndex++
                        //让下标每秒加一实现切换效果
                        //如果走到最后一张，让下标回到0
                        if (this.activeIndex === this.list.length) this.activeIndex = 0
                    }, 1000);
                },
                hover(i) {
                    clearInterval(this.timer)//鼠标放上去时先移除定时器
                    this.activeIndex = i //让当前的标签active激活
                    this.run()  //随后再走定时器
                }
            },
        })
    </script>

    <script>
        //页面描述
        new Vue({
            el: '#box',
            data: {
                json: {
                    list: [{
                        src: '/img/0.jpg',
                        des: '爱生活网红文艺粉玫瑰带包装',
                        price: '￥198'
                    },
                    {
                        src: '/img/02.jpg',
                        des: '爱美食ins草莓奶油蛋糕盒子',
                        price: '￥98'
                    },
                    {
                        src: '/img/16.jpg',
                        des: '爱家居高大上温馨甜美装饰',
                        price: '￥198'
                    }, {
                        src: '/img/23.jpg',
                        des: '网红透明手机壳蝴蝶结小发夹',
                        price: '￥38'
                    }, {
                        src: '/img/29.jpg',
                        des: '文艺粉玫瑰代表纯纯的爱情',
                        price: '￥198'
                        }, {
                            src: '/img/37.jpg',
                            des: '爱家居高品质洗脸池水龙头',
                        price: '￥598'
                        } , {
                            src: '/img/4.jpg',
                            des: '萌萌哒小熊蛋糕和草莓饮料',
                        price: '￥98'
                        }, {
                            src: '/img/6.jpg',
                            des: '爱家居五彩缤纷的小金鱼',
                        price: '￥98'
                    }]
                }
            }
        })
    </script>

</body>
</html>






