@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/vue/vue.js"></script>
    <script src="~/vue/vue-resource.js"></script>
    <link href="~/shopindex/layui/css/layui.css" rel="stylesheet" />
    <link href="~/shopindex/static/css/main.css" rel="stylesheet" />
    <script src="~/shopindex/layui/layui.js"></script>
    <title></title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            padding: 10px;
            background: #f1f1f1;
        }

        /* 头部标题 */
        .header {
            padding-top: 30px;
            text-align: left;
        }

            .header h1 {
                font-size: 50px;
            }

        /* 导航条 */
        .topnav {
            overflow: hidden;
            background-color: #c4c4c4;
        }

            /* 导航条链接 */
            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                /* 链接颜色修改 */
                .topnav a:hover {
                    background-color: #f7c7f0;
                    color: #74b4cb;
                }

        /* 轮播图 */
        ul li {
            list-style: none;
        }

        .dian {
            padding-top: 0px;
            display: flex;
            position: absolute;
            bottom: 10px;
        }

            .dian li {
                padding-top: 0px;
                margin-top: 0px;
                width: 20px;
                height: 20px;
                background: #fff;
                margin: 10px 10px;
                border-radius: 50%;
            }

                .dian li.active {
                    padding-top: 0px;
                    margin-top: 0px;
                    background: blue;
                }

        .main {
            margin-top: 0px;
            width: 1100px;
            height: 400px;
            position: relative;
            display: flex;
            justify-content: center;
        }

            .main img {
                margin-top: 4px;
                padding-top: 3px;
                height: 400px;
                width: 1100px;
            }

        /* 新品首发 */
        .zhong {
            padding: 30px;
            text-align: left;
        }

            .zhong h1 {
                font-size: 50px;
            }

        /* 商品图 */
        #box ul {
            width: 1000px;
            margin: 50px 30px;
            text-align: right;
        }

            #box ul li {
                border-bottom: 1px solid #ddd;
                padding: 30px;
                float: right;
                overflow: hidden;
            }

                #box ul li img {
                    width: 200px;
                    height: 200px;
                    float: right;
                    border: none;
                }
    </style>

    <style>
        /* 打折促销 */
        .dazhe {
            padding-bottom: 10px;
            text-align: left;
        }

        .zhong h1 {
            font-size: 50px;
        }

        /* 商品图 */
        #shop ul {
            width: 1000px;
            margin: 50px 30px;
            text-align: right;
        }

            #shop ul li {
                border-bottom: 1px solid #ddd;
                padding: 30px;
                float: right;
                overflow: hidden;
            }

                #shop ul li img {
                    width: 200px;
                    height: 200px;
                    float: right;
                    border: none;
                }
    </style>


</head>
<body>
    <div class="site-nav-bg">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a href="#">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login"><a href="login.html">登录</a></div>
            <div class="sp-cart"><a href="shopcart.html">购物车</a><span>2</span></div>
        </div>
    </div>


    <div class="header">
        <div class="mallSearch">
            <form action="" class="layui-form" novalidate="">
                <input type="text" name="title" required="" lay-verify="required" autocomplete="off" xdclass="layui-input" placeholder="请输入需要的商品">
                <button class="layui-btn" lay-submit="" lay-filter="formDemo">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <input type="hidden" name="" value="">
            </form>
        </div>
    </div>

    <div class="header">
        <h1>💟商城首页💟</h1>
    </div>

    <div class="topnav">
        <a href="http://localhost:50812/default/show">爱家居</a>
        <a href="http://localhost:50812/default/show">爱美食</a>
        <a href="http://localhost:50812/default/show">爱装饰</a>
        <a href="http://localhost:50812/default/show">爱饰品</a>
    </div>


    <div id="app">
        <div class="main">
            <img :src="item" v-for="(item, i) in list" v-show="i===activeIndex">
            <ul class="dian">
                <li act="hover(i)" :class="{active:i===activeIndex}" v-for="(item, i) in list"></li>
            </ul>
        </div>
    </div>


    <div class="dazhe">
        <h1>💗新品首发💗 </h1>
    </div>

    <a href="http://localhost:50812/default/show">
        <div id="box">
            <ul>
                <li v-for="v in json.list">
                    <img v-bind:src="v.src" alt="">
                    <h6>{{v.des}}</h6>
                    <p style="color:red">{{v.price}}</p>
                </li>
            </ul>
        </div>
    </a>


    <div class="zhong">
        <h1>💕打折💕促销 </h1>
    </div>

    <a href="http://localhost:50812/default/show">
        <div id="shop">
            <ul>
                <li v-for="v in json.list">
                    <img v-bind:src="v.src" alt="">
                    <h6>{{v.des}}</h6>
                    <p style="color:red">{{v.price}}</p>
                </li>
            </ul>
        </div>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        /* 轮播图 */
        let zyy = new Vue({
            el: "#app",
            data() {
                return {
                    activeIndex: 0,
                    timer: null,
                    list: [
                        "/img/23.jpg",
                        "/img/02.jpg",
                        "/img/16.jpg"
                    ],
                }
            },
            mounted() {
                this.run()
            },
            methods: {
                run() {
                    this.timer = setInterval(() => {
                        //设置一个定时器
                        this.activeIndex++
                        //让下标每秒加一实现切换效果
                        //如果走到最后一张，让下标回到0
                        if (this.activeIndex === this.list.length) this.activeIndex = 0
                    }, 1000);
                },
                hover(i) {
                    clearInterval(this.timer)//鼠标放上去时先移除定时器
                    this.activeIndex = i //让当前的标签active激活
                    this.run()  //随后再走定时器
                }
            },
        })
    </script>

    <script>
        //新品描述
        new Vue({
            el: '#box',
            data: {
                json: {
                    list: [{
                        src: '/img/0.jpg',
                        des: '爱生活网红文艺粉玫瑰带包装',
                        price: '￥198'
                    },
                    {
                        src: '/img/02.jpg',
                        des: '爱美食ins草莓奶油蛋糕盒子',
                        price: '￥98'
                    },
                    {
                        src: '/img/16.jpg',
                        des: '爱家居高大上温馨甜美装饰',
                        price: '￥198'
                    }, {
                        src: '/img/23.jpg',
                        des: '网红透明手机壳蝴蝶结小发夹',
                        price: '￥38'
                    }, {
                        src: '/img/29.jpg',
                        des: '文艺粉玫瑰代表纯纯的爱情',
                        price: '￥198'
                    }, {
                        src: '/img/37.jpg',
                        des: '爱家居高品质洗脸池水龙头',
                        price: '￥598'
                    }]
                }
            }
        })
    </script>

    <script>
        //打折商品描述
        new Vue({
            el: '#shop',
            data: {
                json: {
                    list: [{
                        src: '/img/10.jpg',
                        des: '爱装饰干枯玫瑰小耳饰',
                        price: '￥58 会员打8折'
                    },
                    {
                        src: '/img/16.jpg',
                        des: '爱家居高大上温馨甜美装饰',
                        price: '￥98 会员打8折'
                    },
                    {
                        src: '/img/1111.jpg',
                        des: '时尚慵懒休闲气质文艺女装',
                        price: '￥198 会员打8折'
                    }, {
                        src: '/img/2222.jpg',
                        des: '时尚慵懒休闲气质文艺女装',
                        price: '￥138 会员打8折'
                    }, {
                        src: '/img/4.jpg',
                        des: '萌萌哒小熊蛋糕和草莓饮料',
                        price: '￥78 会员打8折'
                    }, {
                        src: '/img/6.jpg',
                        des: '爱家居五彩缤纷的小金鱼',
                        price: '￥58 会员打8折'
                    }]
                }
            }
        })
    </script>


</body>
</html>






