<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/vue/vue.js"></script>
    <script src="~/vue/vue-resource.js"></script>
    <title></title>

    
</head>
<body>
  
    <img :src="image" style="width:100px;height:130px">

    <script>
        new Vue({
            
            data: {
                         "title": "纯洁玫瑰",
                         "image": "/img/0.jpg"
                    }
    </script>
</body>
</html>

