<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/vue/vue.js"></script>
    <script src="~/vue/vue-resource.js"></script>
     <title></title>
   <script src="~/js/site.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
  
    <div id="app" style="margin-left:20px;">
        <table class="table table-bordered">
            <tr>
                <td>
                    用户名称：
                </td>
                <td>
                    <input id="Text1" type="text" v-model="name" />
                </td>
            </tr>
            <tr>
                <td>
                    满意度：
                </td>
                <td>
                    <select id="Select1" v-model="haoping">
                        <option value="">五星好评</option>
                        <option value="四星喜欢">四星喜欢</option>
                        <option value="一般喜欢">一般喜欢</option>
                        <option value="差评">差评</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    用户反馈：
                </td>
                <td>
                    <textarea id="TextArea1" rows="5" cols="100" v-model="liuyan" placeholder="用户留言板..."></textarea>

                </td>
            </tr>
            <tr>
                <td>
                    <input id="Button1" type="button" value="提交留言" v-on:click="add()" />
                </td>
            </tr>
        </table>
        <br />
        <h3>用户留言板：</h3> 
        <br />
        <textarea style="width:400px;height:150px;" v-model="info"></textarea>
       
    </div>


    <script type="text/javascript">
        new Vue({
            el:"#app",
            data() {
                return {
                    name: "",
                    haoping: "",
                    liuyan: "",
                    info:""
                 }
            },
            methods: {
                add: function () {
                    this.info = "用户名称：" + this.name + "\r\n好评度："
                        + this.haoping + "\r\n留言：" + this.liuyan;
                }
            }
        })
    </script>

</body>
</html>

