
@{
    ViewData["Title"] = "ShopIndex";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="~/shopindex/static/css/main.css" rel="stylesheet" />
    <link href="~/shopindex/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/shopindex/layui/layui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link id="layuicss-layer" rel="stylesheet" href="http://demo.cssmoban.com/cssthemes5/ccpt_5_bbh/res/layui/css/modules/layer/default/layer.css?v=3.1.1" media="all">
</head>
<body>


    <div class="site-nav-bg" style="height:40px">
        <div class="site-nav w1200">
            <p class="sn-back-home">
                <i class="layui-icon layui-icon-home"></i>
                <a href="#" style="font-size:20px">首页</a>
            </p>
            <div class="sn-quick-menu">
                <div class="login"><a href="/Shop/RegisterIndex" style="font-size:20px">注册</a></div>
                <div class="sp-cart"><a href="shopcart.html" style="font-size:20px">购物车</a><span>2</span></div>
            </div>
        </div>
    </div>



    @*<div class="header">
        <div class="headerLayout w1200">
            <div class="headerCon">
                <h1 class="mallLogo">
                    <a href="#" title="yy商城">*@
    @*<img src="~/shopindex/static/img/logo.png" />*@
    @*</a>
        </h1>*@
    @*<div class="mallSearch">
            <form action="" class="layui-form" novalidate="">
                <input type="text" name="title" required="" lay-verify="required" autocomplete="off" xdclass="layui-input" placeholder="请输入需要的商品">

                <button class="layui-btn" lay-submit="" lay-filter="formDemo">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <input type="hidden" name="" value="">
            </form>
        </div>*@
    @*</div>
            </div>
        </div>*@


    <div class="content content-nav-base  login-content">
        <div class="main-nav">
            <div class="inner-cont0">
                <div class="inner-cont1 w1200">
                    <div class="inner-cont2">
                        @*<a href="commodity.html" class="active">所有商品</a>
                            <a href="buytoday.html">今日团购</a>
                            <a href="information.html">yy资讯</a>
                            <a href="about.html">关于我们</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="login-bg">
            <div class="login-cont w1200">
                <div class="form-box">


                    <form class="layadmin-user-login-box layadmin-user-login-body layui-form" action="/Login/ShowCustomer">
                        <legend>账号密码登录</legend>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <i class="layadmin-user-login-icon layui-icon layui-icon-username"></i>
                                    <input type="text" name="UserName" id="UserName" placeholder="请输入账号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <i class="layadmin-user-login-icon layui-icon layui-icon-password"></i>
                                    <input id="UserPwd" type="password" name="UserPwd" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">

                                </div>
                            </div>
                            <a style="color:cornflowerblue;float:right"onclick="LookupPwd()">重置密码</a>
                        </div>
                        <div class="layui-form-item layui-layout-admin">
                            <div class="layui-input-block">
                                @*<input id="Submit1" class="layui-btn" type="submit" value="后台代码登录" />*@
                                <button class="layui-btn" type="button" onclick="LoginPage()">登录</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="ng-promise-box">
            <div class="ng-promise w1200">
                <p class="text">
                    <a class="icon1" href="javascript:;">7天无理由退换货</a>
                    <a class="icon2" href="javascript:;">满99元全场免邮</a>
                    <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
                </p>
            </div>
        </div>
        <div class="mod_help w1200">
            <p>
                <a href="javascript:;">关于我们</a>
                <span>|</span>
                <a href="javascript:;">帮助中心</a>
                <span>|</span>
                <a href="javascript:;">售后服务</a>
                <span>|</span>
                <a href="javascript:;">yy资讯</a>
                <span>|</span>
                <a href="javascript:;">关于货源</a>
            </p>
            <p class="coty">yy商城版权所有 © 2019-2020</p>
        </div>
    </div>



    <script type="text/javascript">
        layui.config({
            base: '../shopindex/static/js/util' //你存放新模块的目录，注意，不是layui的模块目录
        }).use(['jquery', 'form'], function () {
            var $ = layui.$, form = layui.form;


            //$("#LoginPage").click(function () {
            //    //if (!/^1\d{10}$/.test($("#phone").val())) {
            //    //    layer.msg("请输入正确的手机号");
            //    //    return false;
            //    //}



            //    })

        });

        function LoginPage() {
            var obj = {};
            obj.UserName =$("#UserName").val();
            obj.UserPwd = $("#UserPwd").val();
            console.log(obj);
            $.ajax({
                url: "http://localhost:50784/api/Login/LoginCustomer",
                data: JSON.stringify(obj),
                type: "post",
                dataType: "text",//返回的
                contentType: "application/json",
                success: function (data) {
                    alert(data);
                    console.log(data);
                    
                    localStorage["Mylocal"] = data;
                    if (data!= "") {
                        alert("登录成功");

                        location.href = "/Shop/BuyedProduct";


                    } else {
                        alert("登录失败");
                    }

                }
            });
        }


        function LookupPwd() {
            location.href = "/Shop/LookInfoPwd";
        }
    </script>


</body>
</html>


